name: checkin

on:
  schedule:
    - cron: '2 1 * * *'
  
  # 允许手动触发
  workflow_dispatch:

jobs:
  checkin:
    runs-on: ubuntu-latest
    
    steps:
    # 检出代码
    - name: 检出代码
      uses: actions/checkout@v4
    
    # 设置 Python 环境
    - name: 设置 Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    
    # 安装依赖
    - name: 安装依赖
      run: |
        pip install requests
    
    # 运行
    - name: 执行checkin
      env:
        M_COOKIE_Rua: ${{ secrets.M_COOKIE_RUA }}
        M_Stoken_Rua: ${{ secrets.M_Stoken_RUA }}
        M_COOKIE_Cris: ${{ secrets.M_COOKIE_CRIS }}
        M_Stoken_Cris: ${{ secrets.M_Stoken_CRIS }}
        M_COOKIE_185: ${{ secrets.M_COOKIE_185 }}
        M_COOKIE_Abi: ${{ secrets.M_COOKIE_ABI }}
        M_COOKIE_Jia: ${{ secrets.M_COOKIE_JIA }}
      run: |
        echo.|python main_multi.py
